@model ReservationModel
<!-- Reservation Start -->
<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6">
            <img class="img-fluid" src="~/ui/img/mekan.jpg" alt="">
        </div>
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Rezervasyon</h5>
                <h1 class="text-white mb-4">Rezervasyon İşlemleri</h1>
                <form asp-action="Reservation" asp-controller="Home" method="post">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Name" class="form-control" id="name" placeholder="Adınız">
                                <label for="name">Ad-Soyad</label>
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input asp-for="Email" class="form-control" id="email" placeholder="Email">
                                <label for="email">Email</label>
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
    <div class="form-floating">
        <input asp-for="PhoneNumber" class="form-control" id="phone" placeholder="Telefon Numarası">
        <label for="phone">Telefon Numarası</label>
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    </div>
</div>

                        <div class="col-md-6">
                            <div class="form-floating date" id="date3" data-target-input="nearest">
                                <input asp-for="ReservationDate" class="form-control datetimepicker-input" id="datetime" placeholder="Rezervasyon Tarihi" data-target="#date3" data-toggle="datetimepicker" />
                                <label for="datetime">Rezervasyon Tarihi</label>
                                <span class="text-danger" asp-validation-for="ReservationDate"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <select asp-for="PeopleCount" class="form-select" id="select1">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <label for="select1">Kaç Kişilik</label>
                                <span class="text-danger" asp-validation-for="PeopleCount"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Kayıt</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Reservation End -->
