<!DOCTYPE html>
<html lang="en">
  <head>
    @await Html.PartialAsync("_HeadPartial")
  </head>
  <body>
    <div class="container-scroller">
      
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
          <a class="navbar-brand brand-logo"asp-area=""asp-controller="Home" asp-action="Index" >RestoranApp<img src="~/admin/images/logo-mini.svg" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" asp-controller="Home" asp-action="Index"><img src="~/admin/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Ara">
              </div>
            </form>
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link " id="profileDropdown" href="#" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="~/admin/images/mervetürk.jpeg" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">Merve Arpacıoğlu Türk</p>
                </div>
              </a>        
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li> 
              
          </ul>
          
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
         @await Html.PartialAsync("_SideBarMenuPartial")
        </nav>
        <!-- partial -->
        <div class="main-panel">
          
          @RenderBody()
          <!-- content-wrapper ends -->
       @await Html.PartialAsync("_FooterPartial")
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
  @await Html.PartialAsync("_JsPartial")
  @await Component.InvokeAsync("Notyf")
  </body>
</html>